\.idea/


web/\.idea/



server/\.idea/



TesterApp/\.vs/
\.vs/

TesterApp/AppLib/bin/

TesterApp/AppLib/obj/

TesterApp/TesterApp/bin/

TesterApp/TesterApp/obj/
.vs
packages
/TesterApp/TesterApp.sln.DotSettings.user
